<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>Forte</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <%= render "shared/header" %> 
        <h1>top page</h1>
        <div class="all-contents">
            <nav>left</nav>
            <main>
      
            <a href="#">＼！！質問する！！／</a>
            <p>--------------------あなたに関連する質問です！--------------------</p>
            
                <div class="room">
                    <div class="room-name">
                        <div class="question-title">
                          <p>question_title</p>
                        </div>
                        <% check = 0 %>
                        <div class="question-contents">
                       
                          <% check += 1 %>
                          
                            <p>[質問文][nickname]message.content</p>
                   
                         
                            <p>[回答文][nickname]message.content</p>
                          
                            <p>----------[nickname]message.content</p> <%# 1つのルームにメッセージが3つ以上保存されてたら、3つ目以降も表示される！本番はいらないやつ！！！ %>

                        </div>
                    </div>
                </div>
            
            <p>-----------------------------------------------------------------------------</p>
      
            
            <p>↓↓新着の質問↓↓</p>
             <div class="room">
                    <div class="room-name">
                        <div class="question-title">
                          <p>question_title</p>
                        </div>
                        <% check = 0 %>
                        <div class="question-contents">
                       
                          <% check += 1 %>
                          
                            <p>[質問文][nickname]message.content</p>
                   
                         
                            <p>[回答文][nickname]message.content</p>
                          
                            <p>----------[nickname]message.content</p> <%# 1つのルームにメッセージが3つ以上保存されてたら、3つ目以降も表示される！本番はいらないやつ！！！ %>

                        </div>
                    </div>
                </div>
            </main>
            <aside>right</aside>
        </div>

        <%= render "shared/footer" %> 
    </body>
</html>